<div class="container">
  <h2 class="text-center position-relative mb-5 pb-3">Any Questions?</h2>
  <h3 class="text-center">Please Feel Free To Contact Us</h3>

  <div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div
          class="card-body d-flex flex-column align-items-center justify-content-center py-4 py-md-5 px-3"
        >
          <a
            href="https://www.google.com/maps/search/4%2F15+,+venkatesapuram+second+street,+ice+house,+trpilicane+Chennai+05/@13.0529586,80.2706264,17z/data=!3m1!4b1?authuser=0&entry=ttu"
          >
          <img src="../../../assets/Images/location.svg" alt="Icon" /></a>
          <p class="text-center mt-3">
            4/15 , venkatesapuram second street, ice house, trpilicane Chennai
            05
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div
          class="card-body d-flex flex-column align-items-center justify-content-center py-4 py-md-5 px-3"
        >
          <a href="tel:+91 99400 84409">
            <img src="../../../assets/Images/telephone.svg" alt="Icon"
          /></a>
          <p class="text-center mt-3">+91 99400 84409</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div
          class="card-body d-flex flex-column align-items-center justify-content-center py-4 py-md-5 px-3"
        >
          <a href="mailto:subatravels2023@gmail.com">
            <img src="../../../assets/Images/envelope.svg" alt="Icon" />
          </a>
          <p class="text-center mt-3">{{ "subatravels2023@gmail.com" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
