<footer>
  <div class="container">
    <div class="row justify-content-lg-between gap-5">
      <div class="col-auto">
        <h4 class="withBorder mb-4 pb-2">Get in touch</h4>
        <p>
          3/178-7 Devi Street, Pannirmadai,<br />
          Coimbatore -641017
          <span class="d-block mt-2">
            <a href="mailto:getdroptaxi3777@gmail.com"
              >{{'getdroptaxi3777@gmail.com'}}</a
            >
            <br />
            <a href="tel:+91 8807824023">+91 8807824023</a>
          </span>
        </p>
      </div>

      <div class="col-auto">
        <h4 class="mb-4 pb-2">Quick Links</h4>
        <ul>
          <li>
            <a ><i class="fa-solid fa-chevron-right"></i> Home</a>
          </li>
          <li>
            <a 
              ><i class="fa-solid fa-chevron-right"></i> About Us</a
            >
          </li>
          <li>
            <a 
              ><i class="fa-solid fa-chevron-right"></i> Our Services</a
            >
          </li>
          <li>
            <a ><i class="fa-solid fa-chevron-right"></i> Tariff</a>
          </li>
          <li>
            <a ><i class="fa-solid fa-chevron-right"></i> Book</a>
          </li>
          <li>
            <a 
              ><i class="fa-solid fa-chevron-right"></i> Contact Us</a
            >
          </li>
        </ul>
      </div>

      <div class="col-auto">
        <h4 class="mb-4 pb-2">Popular Links</h4>
        <ul>
          <li>
            <a ><i class="fa-solid fa-chevron-right"></i> Home</a>
          </li>
          <li>
            <a 
              ><i class="fa-solid fa-chevron-right"></i> About Us</a
            >
          </li>
          <li>
            <a 
              ><i class="fa-solid fa-chevron-right"></i> Our Services</a
            >
          </li>
          <li>
            <a ><i class="fa-solid fa-chevron-right"></i> Tariff</a>
          </li>
          <li>
            <a ><i class="fa-solid fa-chevron-right"></i> Book</a>
          </li>
          <li>
            <a 
              ><i class="fa-solid fa-chevron-right"></i> Contact Us</a
            >
          </li>
        </ul>
      </div>

      <div class="col-auto">
        <h4 class="mb-4 pb-2">Newsletter</h4>

        <div class="input-group mb-5">
          <input
            type="text"
            class="form-control"
            placeholder="Email address"
          />
          <span class="input-group-text p-0">
            <button type="submit" class="btn">Signup</button>
          </span>
        </div>

        <div class="d-flex gap-3">
          <a
            
            class="socialIcon d-flex align-items-center justify-content-center rounded-5"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a
            
            class="socialIcon d-flex align-items-center justify-content-center rounded-5"
            ><i class="fa-brands fa-xing"></i
          ></a>
          <a
            
            class="socialIcon d-flex align-items-center justify-content-center rounded-5"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>