<div class="container position-relative h-100 d-flex align-items-center">
  <div class="caption">
    <h1>Best Get Drop Taxi In Your City!</h1>
    <div class="action d-flex align-items-center gap-2 gap-md-4 mt-5">
      <a class="btn btn-danger" [routerLink]="'app'" [fragment]="'booking'"
        >Book Now</a
      >
      <a href="https://wa.me/9940084409"
        ><img src="../../../assets/Images/whatsapp.svg" alt="whatsapp"
      /></a>
    </div>
  </div>
  <div class="parking">
    <div class="road"></div>
    <div class="car">
      <img
        src="../../../assets/Images/banner-car.svg"
        class="w-100"
        alt="Car"
      />
    </div>
  </div>
</div>
