<app-header></app-header>
<section class="banner overflow-hidden" id="home">
<app-home></app-home>
</section>
<section class="bookingSection" >
  <app-booking></app-booking>
</section>
  
<section class="chooseTaxiRide py-5" id="tarif">
<app-tarif></app-tarif>
</section>
<section class="aboutUs my-md-5 py-md-5"id="aboutUs">
  <app-about-us></app-about-us>
</section>

<section class="chooseTaxiRide py-5" id="service">
  <app-service></app-service>
</section>
<section class="contact mt-lg-5" id="contact">
  <app-contact-us></app-contact-us>
</section>


<app-footer></app-footer>
