
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center d-lg-block">
        <div class="roundedShape rounded-circle">
          <img src="./assets/Images/focus-car.png" alt="Car" />
        </div>
      </div>
      <div class="col-lg-6 mt-5">
        <h2 class="position-relative mb-5 pb-2">About Us</h2>
        <h1 class="mb-3">Best Get Drop Taxi In Your City!</h1>
        <p class="mb-3">
          Get Drop Taxi a round trip, local rental package & out station
          round trip,one way drop offers at 24 X 7 service.
        </p>
        <p>
          We serve all districts over TAMILNADU , PONDICHERRY , ANDHRA ,
          KERALA & KARNATAKA. You will feel very comfortable & safety while
          travelling. Cab will reach you on time at your pick point.
        </p>
      </div>
    </div>
  </div>


<section class="my-5 py-5">
  <img src="./assets/Images/new_banner.JPG" class="w-100" alt="Banner" />
</section>